<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.usher.demo"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".other.launchmode.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".main.DemoListActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Awesome Demo -->
        <activity
            android:name=".awesome.channel.ChannelActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".awesome.decoration.DecorationActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".awesome.selection.SelectionActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".awesome.smarthome.SmartHomeActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".awesome.drag.DragActiity"
            android:theme="@style/CommonTheme" />

        <!-- Image Demo -->
        <activity
            android:name=".image.BlurActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".image.RoundImageActivity"
            android:theme="@style/CommonTheme" />

        <!-- Material Demo -->
        <activity
            android:name=".material.TabLayoutActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".material.FitsSystemWindowActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".material.ProfileActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".material.home.HomeActivity"
            android:theme="@style/CommonTheme" />

        <!-- Rx Demo -->
        <activity
            android:name=".rx.RxSplashActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".rx.RxSumActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".rx.RxExitActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".rx.RxSearchActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme"
            android:windowSoftInputMode="stateVisible" />

        <!-- View Demo -->
        <activity
            android:name=".view.MarqueeTextActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".view.loading.LoadingActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".view.WaveActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".view.pager.PagerActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".view.ChartActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".view.looprecycler.LoopRecyclerActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".view.CircleWaveActivity"
            android:theme="@style/CommonTheme" />

        <!-- Web Demo -->
        <activity
            android:name=".web.three.ThreeActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".web.AngularActivity"
            android:theme="@style/CommonTheme" />

        <!-- Other Demo -->
        <activity
            android:name=".other.launchmode.AActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".other.launchmode.BActivity"
            android:theme="@style/CommonTheme" /> <!-- android:launchMode="singleTask" -->
        <!-- android:taskAffinity="com.usher.demo.hahaha" -->
        <service
            android:name=".other.launchmode.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":zzhprocess" />
        <service
            android:name=".other.launchmode.MyIntentService"
            android:exported="false" />

        <activity
            android:name=".other.notification.NotificationActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".other.LogActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CommonTheme" />

        <!-- Kotlin Demo -->
        <activity
            android:name=".kotlin.KotlinActivity"
            android:theme="@style/CommonTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>